<!DOCTYPE html>
   <head>
      <title>BME860 Sensor data </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
	<h1>BME680 Sensor Data </h1>
	<h3> TEMPERATURE   ==> {{Temperature}} oC</h3>
	<h3> GAS ==> {{Gas}}</h3>
	<h3> HUMIDITY ==> {{Humidity}} %</h3>
	<h3> PRESSURE ==> {{Pressure}}</h3>
	<h3> ALTITUDE ==> {{Altitude}}</h3>
	<hr>
	<h3> Last Sensors Reading: {{Time}} ==> <a href="/"class="button">REFRESH</a></h3>	
	<hr>
	<p> @2019 Developed by Slav Petkovic</p>
   </body>
</html>